html {
	position: relative;
	min-height: 100%;
}

.gradient {
	background-image: linear-gradient(to bottom right, #2AF598, #08B3E5);
}

#logo {
	max-height: 15px;
}

.panel.viz {
	height: 500px;
}

#canvas {
	height: 460px;
}

#instructions {
	display: none;
	background-color: #E6EAF0;
	border: 1px solid #AEB1B5;
	border-radius: 4px;
}

#metrics,
#viz,
#buttons {
	display: none;
	transition: visibility .1s, width .5s, height .5s;
}

code {
	white-space: pre;
}

.alert {
	display: none;
}

.label {
	fill: #999;
	font-size: 8px;
	text-anchor: end;
}

.column .label {
	text-anchor: start;
}

rect.bar { fill: #08B3E5; }

rect {
	fill: #eee;
	stroke: #000000;
	stroke-width: 0;
}

rect:hover {
	stroke-width: 1px;
}

.width-collapse {
	width: 0;
	height: 0;
	visibility: hidden;
	transition: visibility .6s, width .5s, height .5s;
}
